body{
    background-color: #cdbdf9;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
h1{
    text-align: center;
    margin: 25px;
    margin-bottom: 60px;
    margin-top: 60px;
    font-size: 70px;
}
h2{
    
    font-size: 50px;
}
h3{
    text-align: left;
    margin: 0;
}
h4{
    text-align: center;
    margin-bottom: 0;
}
p{
    text-align: left;
    margin: 0;
}

#sectionHeader{
    text-align: center;
}
#intro-content{
    display: flex;
    flex-direction: row;
}
#words{
    width: 75%;
}
#profile{

    float: right;
    margin-left: 30px;
    max-width: 400px;
}


#skills-list{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#Languages{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
#skills-list > div{
    flex-grow: 1;
}
ul{
    display: inline-block;
    text-align: left;
    margin-top: 10px;
}

#skills h3{
    text-align: center;
}


.school{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 0px;
}
#time{
    align-self: center;
    text-align: right;
}
.location{
    font-style: italic;
}